<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        {{ Form::open(array('url'=>'backend/blockmanager/addblock', 'class'=>'form-newmenu')) }}
        <h2 class="form-signin-heading">{{ t('strings.addblock') }}</h2>
        {{ Form::hidden('grid',$grid) }}
        {{ Form::hidden('position',$position) }}
        {{ Form::hidden('layout',$layout) }}
        {{ Form::label(t('strings.blocks')) }}
        <select class="view-select" name="block_title">
            <option disabled selected value="0">{{ t('strings.please_select') }}</option>
            @foreach($blocks as $k=>$v)
            @foreach($v as $block)
            <option value="{{ $block['name'] }}">{{$block['title']}}</option>
            @endforeach
            @endforeach
        </select>
        {{ Form::submit(t('strings.add'), array('class'=>'btn btn-large btn-primary'))}}
        {{ Form::close() }}
    </div>

</div>